@import "../../vars.css";

.container {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  color: var(--color-text);
  font-family: var(--font-playfair);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  color: var(--ice-blue);
  font-family: var(--font-roboto);
  font-size: 30px;
  
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  font-family: var(--font-playfair);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.footerContainer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  gap: 10px;
}

.footerText h3 {
  color: #ffffffb4;
  font-size: 15px;
  font-weight: 550;
  font-family: var(--font-playfair);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
