/* styling for contact section */
@import "../../vars.css";

.container {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  color: var(--color-text);
  font-family: var(--font-playfair);
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  color: var(--ice-blue);
  font-family: var(--font-roboto);
  font-size: 30px;
}

.topBtn {
  text-decoration: none;
  background-color: black;
  color: var(--color-text);
  font-family: var(--font-roboto);
  border-radius: 100px;
  font-size: 15px;
  padding: 8px 16px;
  box-shadow: 0 0 4px 0 #9eefe5;
  cursor: pointer;
}

.topBtn:hover {
  box-shadow: 0 0 10px #9eefe5;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  font-family: var(--font-playfair);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link a:hover {
  text-shadow: 1px 0 10px #ffffff;
}

/* styling for footer section */
.footerContainer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  gap: 10px;
}

.footerText h3 {
  color: #ffffffb4;
  font-size: 15px;
  font-weight: 550;
  font-family: var(--font-playfair);
}

/* styling for screen size */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text p {
    font-size: 23px;
  }

  .links {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
