* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #C0E0DE; /* Changes the thumb color */
  border-radius: 5px; /* Add rounded corners */
}

::-webkit-scrollbar {
  width: 10px; /* Adjusts width*/
  height: 10px;
  background-color: black; /* Changes the thumb color */
}