/* styling for the main  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Changes the thumb color - Add rounded corners */
::-webkit-scrollbar-thumb {
  background-color: #c0e0de;
  border-radius: 5px;
}

/* Adjusts width and height - Changes the thumb color */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: black;
}
