:root {
  /* colors */
  --color-text: #fff;
  --ice-blue: #9eefe5;
  --mint-green: #c0e0de;
  --steel-blue: #4f7cac;
  --color-bg: #050A15;
  --space-grey: #3c474b;
  /* fonts */
  --font-roboto: "Roboto";
}
